input.form-control {
	display: inline-block;
}

.list-group-item {
	-webkit-transition: background-color .25s cubic-bezier(.57, .1, .66, .37), -color .25s cubic-bezier(.57, .1, .66, .37);
	-ms-transition: background-color .25s cubic-bezier(.57, .1, .66, .37), -color .25s cubic-bezier(.57, .1, .66, .37);
	transition: background-color .25s cubic-bezier(.57, .1, .66, .37), -color .25s cubic-bezier(.57, .1, .66, .37);
}

#FULL_HISTORY,
#LAST_HISTORY {
	font-family: monospace;
}

#FULL_HISTORY .list-group-item {
	padding: .5rem .75rem;
}

.fas {
	display: inline-block;
}

.nav-link {
	padding: .25em .5em !important;
}

.tabsviewoff .nav {
	display: none;
}

.tabsviewoff #firsttablog {
	display: none;
}

.tabsviewoff .fade:not(.show) {
	opacity: inherit;
}

.tabsviewoff .tab-content > .tab-pane {
	display: inherit;
}

.w40kmode .hide-in-40k-mode {
	display: none;
}

.only-in-40k-mode {
	display: none;
}

.w40kmode .only-in-40k-mode {
	display: inherit;
}

body {
	font-family: "Bree Serif";
}

.nav-link.active {
	background-color: var(--primary) !important;
	color: white !important;
}

.strike {
	position: relative;
	display: inline-block;
}

.strike::before {
	content: '';
	border-bottom: 2px solid red;
	width: 100%;
	position: absolute;
	right: 0;
	top: 50%;
}

.cross {
	position: relative;
	display: inline-block;
}

.cross::before,
.cross::after {
	content: '';
	width: 100%;
	position: absolute;
	right: 0;
	top: 50%;
}

.cross::before {
	border-bottom: 2px solid red;
	-webkit-transform: skewY(-45deg);
	transform: skewY(-45deg);
}

.cross::after {
	border-bottom: 2px solid red;
	-webkit-transform: skewY(45deg);
	transform: skewY(45deg);
}

.overridden .slider-handle {
	--size: 12px;
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	top: calc((20px - var(--size)) / 2);
}

.overridden .slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
	margin-left: calc((-1 * var(--size)) / 2);
}

.badge {
	border: 1.5px solid rgba(255, 255, 255, .5);
}

/* ------------------------------------------------------ */

.fa-meteor,
.fa-sad-tear {
	margin: 0 0 0 5px;
}

.fa-sign-out-alt {
	margin: 0 3px 0 5px;
}

body[data-bs-theme="light"] {
}

.list-group-item:first-child {
	z-index: 2;
	color: #000;
	background-color: rgba(156, 178, 229, 0.48);
	border-color: rgba(156, 178, 229, 0.48);
}

.fa-meteor::before {
	color: blueviolet;
}

.fa-sad-tear::before {
	color: chocolate;
}

.fa-sign-out-alt::before {
	color: blue;
}

body[data-bs-theme="dark"] {
	.list-group-item:first-child {
		color: #fff;
		background-color: rgba(156, 178, 229, 0.48);
		border-color: rgba(156, 178, 229, 0.48);
	}

	.fa-meteor::before {
		color: chartreuse;
	}

	.fa-sad-tear::before {
		color: orangered;
	}

	.fa-sign-out-alt::before {
		color: aqua;
	}
}


/* ------------------------------------------------------ */
/*
.tippycontainer {
	max-height: 75vh;
	overflow-y: auto;
}
*/
/* ------------------------------------------------------ */


/* ======================== scrollbar ======================== */
/* http://www.ourtuts.com/how-to-customize-browser-scrollbars-using-css3/ */
/* https://css-tricks.com/examples/WebKitScrollbars/ */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
/* https://css-tricks.com/almanac/properties/s/scrollbar/ */
/*
::-webkit-scrollbar {
	width: 12px !important;
}

::-webkit-scrollbar-thumb {
	width: 12px !important;
}

::-webkit-scrollbar-button {
	width: 12px;
	height: 1px;
}

::-webkit-scrollbar-track {
	background: rgb(250, 250, 250);
	border: thin solid rgb(200, 200, 200);
	-webkit-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	border: thin solid rgb(150, 150, 150);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .1) inset;
	background: rgb(180, 180, 180);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(210, 210, 210);
}*/

/*::-webkit-scrollbar-thumb:window-inactive {
}*/

/* ------------------------------------------------------ */